<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/statics/login.css">
    <title>login</title>
</head>
<body>
    <div class="login">
        <div class="login_mar">
            <form action="/login/" method="POST">
                <p><input type="text" name="userid" placeholder="请输入学号/教师编号" style="width: 300px;height:25px;"></p>
                <p><input type="password" name="password" size="50" placeholder="密码" style="width: 300px;height:25px;"></p>
                <p><input type="submit" value="登录" style="width: 300px;height:30px;"></p>
                <hr style="width: 300px;margin-top:20px;">
                <div class="middle">
                    <div class="left">
                        <span><input type="checkbox" name="jilu" style="margin-top:0px;">记住用户名</span>
                    </div>
                    <div class="right"><span><a href="#">忘记密码?</a></span></div>
                </div>
                <div class="down"><p>没有账号?<a href="/register/">免费注册</a></p></div>
                <p style="color: red;">{{ msg }}</p>
            </form>
        </div>
    </div>
</body>
</html>